<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de departamento</h3>
    <form (ngSubmit)="onSubmit()" #departamentoForm="ngForm">
        
        <div class="form-group">
            <label>Nombre de departamento : </label>
            <input type="text" class="form-control" id="departamento" [(ngModel)]="departamentos.departamento" name="departamento" required minlength="2" maxlength="20" placeholder="Digite nombre del departamento" #nombre="ngModel">
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                    Digite el nombre del departamento
                </div>
                <div *ngIf="nombre.errors.minlength">
                    El nombre debe contener minimo 2 caracteres
                </div>
                <div *ngIf="nombre.errors.maxlength">
                    El nombre debe contener maximo 20 caracteres
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Id empleado : </label>
            <input type="number" class="form-control" id="managerid" [(ngModel)]="departamentos.managerid" name="managerid" required placeholder="Id del empleado" #salario="ngModel">
            <div class="alert alert-danger" *ngIf="salario.invalid && (salario.dirty || salario.touched)">
                <div *ngIf="salario.errors.required">
                    ingrese el id del empelado 
                </div>
            </div>
        </div>
        <button class="btn btn-success" [disabled]="!departamentoForm.form.valid">Guardar</button>
    </form>
</div>